@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');

html {
    font-family: 'SFProDisplay';
    
    background: linear-gradient(to left, #0052d4, #4364f7, #6fb1fc); 
    overflow:hidden;
    overflow-y:hidden;  
    overflow-x:hidden;
}

.page {
    margin: 0 auto;
    max-width: 1177px;
    min-height: 898px;
}


/*Header*/

.header__content {
    justify-content: space-between;
    align-items: center;
    max-width: 1177px;
    height: 42px;
    margin-top: 20px;
    display: flex;
}

.header__logo {
    color: white;
    font-family: 'SFProDisplay';
    font-weight: 700;
    font-size: 24px;
    padding-left: 10px;
    
}

@media (max-width: 700px) {
    .header__logo {
        font-size: 18px;
       
    }
}

.header__button {
    display: flex;
    width: 100px;

}

.header__button_name {
    color: white;
    font-family: 'SFProDisplay';
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.header__button_button {
    background: transparent;
    border: none;
    background-image: url('../image/Vector.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 0;
    outline: none;
    padding-right: 40px;
}

.header__button_button:hover{
    background-image: url('../image/VectorOrang.png');
}

.color_btn {
    background-image: url('../image/VectorOrang.png');
}
   


/*Section forch*/
.allContent {
    display: flex;
    min-height: auto;
    overflow: hidden;
    justify-content: center;
    margin-top: 10px;
}

@media (max-width: 700px) {
    .allContent {
    display: block;
    min-height: auto;
    overflow: hidden;
    justify-content: center;
    margin-top: 10px;
       
    }
}

@media (max-width: 700px) {
    .Illustation {
    display: block;
    min-height: auto;
    overflow: hidden;
    justify-content: center;
    margin-top: 10px;
       
    }
}

.Illustation {
    width: 514px;
    min-height: 535px;
}

@media (max-width: 700px) {
    .Illustation {
        width: 314px;
        height: 235px;
       
    }
}



.welcome {
    padding-top: 20%;
    display: block;
    font-family: 'SFProDisplay';
    text-align: center;
}

@media (max-width: 700px) {
    .welcome {
    padding-top: 10%;
    display: block;
    font-family: 'SFProDisplay';
    text-align: center;
       
    }
}

.welcomeOne {
    color: white;
    font-size: 36px;
}

@media (max-width: 700px) {
    .welcomeOne {
        font-size: 24px;
       
    }
}

.welcomeTwo {
    color: white;
    font-size: 24px;
    text-align: center;
}

@media (max-width: 700px) {
    .welcomeTwo {
        font-size: 18px;
       
    }
}

.rotation {
    animation: upDown 3s ease-out infinite;
}

@keyframes upDown {
    0% {
        padding-top: 0;
    }
    50% {
        padding-top: 50px;
    }
    100% {
        padding-top: 0;
    }
}

/*Popup*/



.popup {
display: none;
justify-content: center;
position: fixed;

left: 59px;
top: 193px;
right: 0;
 bottom: 0;

 align-items: center;
}

@media (max-width: 700px) {
    .popup {
    left: 0px;
    top: 100px;
    right: 0;
    bottom: 0;
       
    }
}


.popup__conteiner {
    max-width: 530px;
    background-color: #FFFFFF;
    font-family: 'SFProDisplay';
    font-weight: 700;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    padding-bottom:  36px;
    padding-left: 36px;
    padding-right: 36px;

    margin: 19px;
    transform: translate(0, 0);
    opacity: 0.95;
}

@media (max-width: 700px) {
    .popup__conteiner {
   display: block;
       
    }
}

.popup__btn-close {
    position: absolute;
    background: transparent;
    border: none;
    background-image: url('../image/mdi-light_plus.png');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 0;
    outline: none;
    right: 10px;
    top: 10px;
}

.popup__name {
   margin-bottom: 50px;
}

@media (max-width: 700px) {
    .popup__name {
        padding-bottom: 10px;
       
    }
}


.btnPopup {
    margin-top: 50px;
    width:100%;
    height: 41px;
    font-family: 'SFProDisplay';
    font-weight: 700;
    font-size: 24px;
    outline: none;
    color: white;
    background-color: #4364F7;
    border-radius: 30px;
    background-repeat: no-repeat;
    border: none;
}

.input__popup {
    font-family: 'SFProDisplay';
    font-weight: 700;
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: 1px solid #4364F7;
}




.input__passw {
    margin-left: 30px;
}

@media (max-width: 700px) {
    .input__passw {
        margin-top: 30px;
        margin-left: 0px;
       
    }
}


.popup_open {
    display: flex;
}


/*footer*/
.footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 46px;
    
}

@media (max-width: 700px) {
    .footer {
        height: 23px;
       
    }
}

.footer__content {
    display: flex;
    justify-content: center;
}

.ps {
    font-family: 'SFProDisplay';
    font-weight: 700;
    font-size: 18px;
}

@media (max-width: 700px) {
    .ps {
        margin: 0;
        padding-top: 1%;
        font-size: 10px;
       
    }
}
